# Configuration file

background {
    I:Alpha=50
    B:Chroma=false
    I:Color=0
}


biome {
    B:Chroma=false
    I:Color=-1
}


coordinates {
    B:Chroma=false
    I:Color=57065
}


direction {
    B:Chroma=false
    I:Color=16777215
    B:ShowSkinFace=true
}


general {
    B:BiomeEnabled=false
    I:Decimals=0
    B:DirectionEnabled=false
    B:Enabled=false
    D:Scale=0.9739583730697632
    B:ShadowedText=false
    B:ShowInChat=false
    B:VerticalMode=true
    I:X=0
    I:Y=1
}


prefix {
    B:Chroma=false
    I:Color=16741753
    I:PrefixStyle=0
}


